[project]
	description = All the Git-it Workshop completers! 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ralf Brauwers (brauwers)
[access "refs/for/refs/*"]
	read = group user/Ralf Brauwers (brauwers)
	push = group user/Ralf Brauwers (brauwers)
	label-Code-Review = -2..+2 group user/Ralf Brauwers (brauwers)
	label-Verified = -1..+1 group user/Ralf Brauwers (brauwers)
	rebase = group user/Ralf Brauwers (brauwers)
	removeReviewer = group user/Ralf Brauwers (brauwers)
	submit = group user/Ralf Brauwers (brauwers)
[access "refs/heads/*"]
	read = group user/Ralf Brauwers (brauwers)
	create = group user/Ralf Brauwers (brauwers)
	push = +force group user/Ralf Brauwers (brauwers)
	pushMerge = group user/Ralf Brauwers (brauwers)
[access "refs/tags/*"]
	push = group user/Ralf Brauwers (brauwers)
	push = +force group user/Ralf Brauwers (brauwers)
